h1{
    display: flex;
    justify-content: center;
    text-decoration: unset rgb(246, 145, 12);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 4px 4px 7px rgba(0,0,0,0.10);
    font-size: 50px;
    animation: blink 1s;
}

@keyframes blink {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


.dark-mode{
    background-color: rgb(73, 73, 73);
    color: white;
}

.contenedor{
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

.taskText, .error {
    margin: 10px;
    background: none; /* Quita el fondo */
    padding: 8px 10px; /* padding para todos los lados */
    cursor: pointer;
    width: 70vw;
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
    flex-wrap: wrap;
    flex-shrink: 1; /* El contenedor intentará encoger */
    flex-grow: 1;   /* Los elementos crecerán dentro del contenedor si hay espacio */

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Permite que el contenido largo se ajuste en una nueva línea */
    word-break: break-all; /* Fuerza el quiebre en palabras largas */
    overflow-wrap: break-word; /* También permite el quiebre en palabras largas */

    background-color: rgb(238, 219, 72);
    border-radius: 10px;
    box-shadow: 0px 18px 27px -11px rgba(0,0,0,0.21);
    -webkit-box-shadow: 0px 18px 27px -11px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 18px 27px -11px rgba(0,0,0,0.21);
    transition: 50ms;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    max-width: 100%;
}

.taskText:hover{
    background-color: rgb(220, 202, 65);
}

.error{
    background-color: #b62121;
    color: white;
    justify-content: center;
}


.taskText.completed:not(.deleteButton){
    color: gray; /* Opcional: cambiar el color de texto de tareas completadas */
    background-color: gainsboro;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
}

.button{
    margin: 20px 20px 0 auto;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(73, 73, 73);
    color: white;
}

.day{
    background-color: white;
    color: black;
}

.sun-button{
    color: rgb(0, 0, 0);
    display: none;
}

.moon-button{
    color: rgb(255, 255, 255);
    display: none;
}

.buttonOn{
    display: block;
}


.contenedorPlaceholder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    height: 50px;
    background-color: rgb(224, 202, 33);
    border-radius: 30px;
    padding: 0 1vw;
    box-shadow: 0px 18px 27px -11px rgba(0,0,0,0.14);
    -webkit-box-shadow: 0px 18px 27px -11px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 18px 27px -11px rgba(0,0,0,0.14);
}

#userInput{
    width: 40vw;
    padding-left: 8px;
    height: 30px;
    border-radius: 30px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

li{
    max-width: 100%;
    text-overflow: ellipsis;
}

#enter{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    width: 8vw;
    height: 33px;
    text-decoration: none;
    border: none;
    border-radius: 30px;
}

/* Estilo para el botón de borrar */
.deleteButton {
    background-color: #f42222;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px 15px 5px auto;
        border-radius: 5px;
    box-shadow: 0px 3px 21px -14px rgba(0,0,0,1);
-webkit-box-shadow: 0px 3px 21px -14px rgba(0,0,0,1);
-moz-box-shadow: 0px 3px 21px -14px rgba(0,0,0,1);

}

.deleteButton:hover {
    background-color: #b62121;
}